*{
    font-family: Proxima Nova Regular,Helvetica Neue,Helvetica,Arial,sans-serif;
    font-size: 100%;

}
.header{
    background-color: #051d5b;
    display: flex;
}
.imgur{
    box-sizing: border-box;
    width: 100px;
    height: 50px;
    color:#fff;
    font-size: xx-large;
    font-style: normal;
    background-color: green;
    text-align: center;
    padding-top: 5px;
}
.newpost{
    background-color: green;
    margin-left: 50px;
    width: 130px;
    height: 30px;
    border-radius: 5px;
    display: flex;
    padding-top: 5px;
    
}
.img-div{
    margin-left: 10px;
    padding-top: 10px;
}
.text-div{
    margin-left: 10px;
    padding-top: 10px;
    color: #fff;
}
.searchbar{
    /* background-color: #fff; */
    background: transparent;
    width: 300px;
    height: 30px;
    border-radius: 5px;
    color: #000;
    margin-left: 100px;
}